.edit {
  /* position: relative;
    left: 100px;
    cursor: pointer; */
  text-align: right
}

.photo_img {
  width: 100%;
}

.close_list,
.edit_a {
  cursor: pointer;
}

.close_list :hover {
  color: rgb(235, 112, 112)
}

.edit_a :hover {
  color: rgba(255, 239, 14, 0.959);
}

.show_detail p {
  margin: 0
}

.data {
  text-align: left;
}

.bottom_date {
  text-align: right
}
