<div class="container">
  <div class="edit_page_show" *ngIf='show_edit_boolean'>
  

    <div class="form_dev col-12 col-md-6 marginC ">
        <div class="edit">
            <a (click)='show_edit_boolean = false;' class='p-2 close_list'>
              <i class="fas fa-times"></i>
            </a>
          </div>
        <h1 class='textKati text-primary p-2 text-center' >Edit Room</h1>
      <form class='col-12 col-md-8 marginC' (ngSubmit)="edit_page_submit()">
        <div class="md-form">
          <label for="name">ชื่อห้อง</label>
          <input type="text" [(ngModel)]='roomTemp.name' name='name' class="form-control">
        </div>
        <div class="md-form">
          <label for="number">เลขห้อง</label>

          <input type="text" [(ngModel)]='roomTemp.number' name='number' class="form-control">
        </div>
        <div class="md-form">
          <label for="price">ราคา</label>

          <input type="text" [(ngModel)]='roomTemp.priceRoom' name='priceRoom' class="form-control">
        </div>
        <div class="md-form">
            <label for="type_room">ประเภทห้อง </label>

          <select ([ngModel])='roomTemp.type' name='type' class='form-control'>
            <option value="{{ roomTemp.type }}"> {{ roomTemp.type }} </option>
            <option *ngFor='let room_t of room_type' value="{{ room_t }}"> {{ room_t }} </option>
          </select>
        </div>
        <div class="md-form p-2">
          <button class="btn btn-primary btn-block"> Update </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-8 marginC">
    <div class="row">
      <!-- <div *ngIf='roomListIsNotEmpty'> -->
      <div class="col-12 col-md-4 p-2 " *ngFor='let data of roomList'>
        <div class="data">
          <div class="photo_div">
            <img src="" alt="photo type room" class="photo_img">
          </div>
          <div class="edit">
            <a (click)='edit_data(data) ' class='p-2 edit_a'>
              <i class="far fa-edit"></i>
            </a>

            <a (click)='delete_data()' class='p-2 close_list'>
              <i class="fas fa-times"></i>
            </a>
          </div>
          <h5 class="textKati text-primary">
            {{ data.name }}
          </h5>
          <div class="col-12 p-2 show_detail">
            <p>{{ data.type }}</p>
            <p> {{ data.priceRoom }}.00 บาท </p>

          </div>
          <div class="bottom_date">

            <div class="col-12">
              <small class="text-right textKati"> {{ data.create_at }} </small>

            </div>
          </div>
        </div>

        <!-- </div> -->
      </div>
      <div *ngIf='!roomListIsNotEmpty' class="col-12 col-md-4 marginC">
        <h5 class='showBecauseEmptyArray'>
          Array is Empty.
        </h5>
      </div>
    </div>
  </div>
</div>
