
<div class="load-div" [hidden]="loadingShow" >
  <div class="load">
  </div>
  <p class="loader textKait"> load... </p>
</div>

<div class="container">
  <div class='noti'>
    <app-err-component></app-err-component>

  </div>
  <div class="edit_page_show" *ngIf='show_edit_boolean'>


    <div class="form_dev col-12 col-md-6 marginC ">
      <div class="edit">
        <a (click)='show_edit_boolean = false;' class='p-2 close_list'>
          <i class="fas fa-times"></i>
        </a>
      </div>
      <h1 class='textKati text-primary p-2 text-center'>Edit Room</h1>
      <form class='col-12 col-md-8 marginC' (ngSubmit)="edit_page_submit()">
        <div class="md-form">
          <label for="name">ชื่อห้อง</label>
          <input type="text" [(ngModel)]='roomTemp.name' name='name' class="form-control">
        </div>
        <div class="md-form">
          <label for="number">เลขห้อง</label>

          <input type="text" [(ngModel)]='roomTemp.number' name='number' class="form-control">
        </div>
        <div class="md-form">
          <label for="price">ราคา</label>

          <input type="text" [(ngModel)]='roomTemp.priceRoom' name='priceRoom' class="form-control">
        </div>
        <div class="md-form">
          <label for="type_room">ประเภทห้อง </label>

          <select ([ngModel])='roomTemp.type' name='type' (change)='change_select($event)' class='form-control'>
            <option value="{{ roomTemp.type }}"> {{ roomTemp.type }} </option>
            <option *ngFor='let room_t of room_type' value="{{ room_t }}"> {{ room_t }} </option>
          </select>
        </div>
        <div class="md-form p-2">
          <button class="btn btn-primary btn-block"> Update </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-12 col-md-8 marginC">
    <div class="row">
      <!-- <div *ngIf='roomListIsNotEmpty'> -->
      <div class="col-12 col-md-4 p-2 " *ngFor='let data of roomList;let i = index'>
        <div class="data">
          <div class="photo_div">
            <img src="" alt="photo type room" class="photo_img">
          </div>
          <div class="edit">
            <a (click)='edit_data(data) ' class='p-2 edit_a'>
              <i class="far fa-edit"></i>
            </a>

            <a (click)='delete_data(data._id)' class='p-2 close_list'>
              <i class="fas fa-times"></i>
            </a>
          </div>
          <h5 class="textKati text-primary">
            {{ data.name }}
          </h5>
          <div class="col-12 p-2 show_detail">
            <p>{{ data.type }}</p>
            <p> {{ data.priceRoom }}.00 บาท </p>

          </div>
          <div class="bottom_date">

            <div class="col-12">
              <small class="text-right textKati"> {{ data.create_at }} </small>
              <label (click)="show_checkin_list(data.liveDate , i)" class='show_checkin_list'> Show Check in List </label>
              <div [ngStyle]="
               {
                'display' : display[i] ? display[i] : 'none' ,
                'box-shadow': '0 0 10px 1px rgba(0,0,0,0.3)',
                'padding': '10px',
                'position': 'fixed',
                'background':'#ffffff',
                'z-index':'1',
                'border-radius':'6px' 
               }
              ">
                <p *ngFor="let dateIn of data.liveDate ; let dateOut of data.liveLatest ; let j = index">{{setDateToString(dateIn , dateOut)}} <small style="color:red;padding: 10px;cursor: pointer;" (click)="delete_checkInChecoutTime( dateIn , dateOut , j , i)" ><i class="fas fa-times"></i></small> </p>

                <p [hidden]='data.liveDate.length'> ยังไม่มีการจองในห้องนี้ </p>
              </div>
            </div>
          </div>
        </div>

        <!-- </div> -->
      </div>
      <!-- <div class="md-form col-12">
        <button class='btn btn-block' type="button" (click)="showMore()" > Show More </button>
      </div> -->
      <div *ngIf='!roomListIsNotEmpty' class="col-12 col-md-4 marginC">
        <h5 class='showBecauseEmptyArray'>
          Array is Empty.
        </h5>
      </div>
    </div>
  </div>
</div>
