<div class="firstPhoto" [ngStyle]="{'background-image': 'url(' + data_info.photoMain + ')' , 'background-size': '100%' , 'background-position': '30%'   }">
</div>

<div class="container ">



  <div class="col-12 dateSet p-3">
    <div class="col-12 col-md-10 datesetSub marginC">
      <div class="row">
        <div class="md-form col-12 col-md-4">
          <label for="datein">วันที่เช็คอิน</label>
          <input type="date" class="dateFind">
        </div>
        <div class="md-form col-12 col-md-4">
          <label for="datein">วันที่เช็คอิน</label>
          <input type="date" class="dateFind">
        </div>
        <div class="md-form col-12 col-md-4 text-center">
          <button class='btn-find'> ค้นหา</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
    <h3>{{ data_info.title }}</h3>
    <p>{{ data_info.detail }}</p>
  </div>
  <div class="col-12 p-3 ">
    <div class="col-12">
      <div class="row">
        <div class="col-12  col-md-6 ">
          <div class="aboutRoom">
            <div class="photoRoom">
              <img [src]="data_info.roomPhoto1" alt="photo2">
  
            </div>
            <div class="detailRoom">
              <h3 class='text-center p-3'>{{ data_info.detailRoom1 }}</h3>
              <p class='p-3 text-center'> {{ data_info.detailSubRoom1 }} </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="aboutRoom">
            <div class="photoRoom">
              <img [src]="data_info.roomPhoto2" alt="photo2">
              
            </div>
            <div class="detailRoom">
              <h3 class="p-3 text-center">{{ data_info.detailRoom2 }}</h3>
              <p class="p-3 text-center"> {{ data_info.detailSubRoom2 }} </p>
            </div>
  
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
