<div class="container">
  <div class="noti"   *ngIf='success || error' >
    
    <p class="success" *ngIf="success" >{{ success }}</p>
    <p class='error' *ngIf="error" >{{ error }}</p>

  </div>
  <div *ngIf="img_keep_show" class="show_img_dir">
    <div class="img_dir">
      <div class="row">
        <div class="col-12 col-md-10">
          <h1 class='textKati col-12'> {{ img_keep[0].photosub.length }} / 9 </h1>

          <div class="borderPhotoAll">
            <div class="row">
              <div class="img_show_all col-12 col-md-4" *ngFor="let data of img_keep[0].photosub">
                <div class="col-12">
                  <label for="name">{{data.id }}</label>

                </div>
                <a class='closeBtn' (click)="deletePhoto(data.id)">x</a>
                <img (click)="seletePhoto(data.photoPath)" src="{{host}}/subPhoto/{{data.photoPath}}" alt="">
              </div>
            </div>

          </div>

        </div>
        <div class="col-12 col-md-2">

          <label for="Uploads" class="textKati">Uploads New Photo.</label>

          <form (ngSubmit)="saveUploads($event)" enctype="multipart/form-data">
            <div class="md-form">
              <input type="file" (change)="upload2($event)" multiple class="form-control">
              <button class="btn btn-block">Uploads</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 p-3">
    <h5 class="textKait text-primary text-center">
      เปลียนข้อมูล รีสอร์ท
    </h5>
    

    <div class="row p-3">
      <div class="col-12 col-md-6">
        <form #myForm='ngForm' (ngSubmit)="submitUpdate()" class='p-3'>
          <div class="col-12">
            <div class="md-from">
              <label for="Titel"> ชื่อรีสอร์ท </label>
              <input type="text" class="form-control" [(ngModel)]="_data_.title" name='title'>
            </div>
            <div class="md-from">
              <label for="detail"> บรรยายเกียวกับรีสอร์ท จุดที่ 1 </label>
              <input type="text" [(ngModel)]="_data_.detail" name='detail' class="form-control">
            </div>
            <div class="md-from">
              <label for="address"> ตำแหน่งรีสอร์ท </label>

              <input type="text" [(ngModel)]="_data_.address" name='address' class="form-control">
            </div>
            <div class="md-from">
              <label for="title2"> หัวข้อรายละเอียด </label>

              <input type="text" [(ngModel)]="_data_.title2" name='title2' class="form-control">
            </div>
            <div class="md-from">
              <label for="phone"> เบอร์โทร </label>

              <input type="text" [(ngModel)]="_data_.phone" name='phone' class="form-control">
            </div>
            <div class="md-form p-3">
              <button type='submit' class="btn btn-primary btn-block">แก้ไข</button>
            </div>
          </div>






        </form>


      </div>
      <div class="col-12 col-md-6">

        <form (ngSubmit)="UpdatePhotoMainPath()">
          <div class="col-12">
            <div class="md-from p-2">
              <label for="photo"> รูปที่แสดงหน้าหลัก </label>
              

              <div class="col-12 p-3 text-center">
                <img style='width:100%;border-radius: 5px;' src="{{ img_data }}" alt="">
              </div>
            </div>

            <form *ngIf="downloadsFileFirst" (ngSubmit)="saveUploads($event)" enctype="multipart/form-data">
              <div class="md-form">
                <input type="file" (change)="upload2($event)" multiple class="form-control">
                <button class="btn btn-block">Uploads</button>
              </div>
            </form>

            <div *ngIf="!downloadsFileFirst" class="md-from">

              <button class='btn btn-block btn-primary' type='button' (click)="showDataIs_()">แสดงรูปภาพ</button>
            </div>
            <div *ngIf="!downloadsFileFirst" class="md-form p-3">
              <button class="btn btn-block btn-primary " type='submit'> อัพเดทภาพหน้าปก</button>

            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
