<div class="container">
  <div class="col-12 p-3">
    <h5 class="textKait text-primary text-center">
      เปลียนข้อมูล รีสอร์ท
    </h5>
    <form #myForm='ngForm' (ngSubmit)="submitUpdate()" class='p-3'>
      <div class="row p-3 ">
        <div class="col-12 col-md-6">
          <div class="md-from">
            <label for="Titel"> ชื่อรีสอร์ท </label>
            <input type="text" class="form-control" [(ngModel)]="_data_.title" name='title'>
          </div>
          <div class="md-from">
            <label for="detail"> บรรยายเกียวกับรีสอร์ท จุดที่ 1 </label>
            <input type="text" [(ngModel)]="_data_.detail" name='detail' class="form-control">
          </div>
          <div class="md-from">
            <label for="address"> ตำแหน่งรีสอร์ท </label>

            <input type="text" [(ngModel)]="_data_.address" name='address' class="form-control">
          </div>
          <div class="md-from">
            <label for="title2"> หัวข้อรายละเอียด </label>

            <input type="text" [(ngModel)]="_data_.title2" name='title2' class="form-control">
          </div>
          <div class="md-from">
            <label for="phone"> เบอร์โทร </label>

            <input type="text" [(ngModel)]="_data_.phone" name='phone' class="form-control">
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="md-from p-2">
            <label for="photo"> รูปที่แสดงหน้าหลัก </label>
            <div class="col-12 p-3 text-center">
              <img style='width:360px;height:240px;' src="{{ host + _data_.photoMain }}" alt="">
            </div>
          </div>
          <div class="md-from">
            <input type="file" (change)="upload2()" class="form-control">

          </div>

        </div>
        
      </div>
      <div class="md-form">
          <button type='submit' class="btn btn-primary btn-block">แก้ไข</button>
        </div>

    </form>
  </div>
</div>
