<div class="container p-3">
  <div class="row p-3">
    
    <div class="col-12 col-md-6 text-center p-3">
        <div class=" p-3 col-12 col-md-6  text-center marginC">
            <img src="/assets/imgmain/auth.png" style='width: 100%;' alt="auth">
            
          </div>
      <h1 class='textKait p-2 '>
        ยินดีต้อนรับ
      </h1>
      <h3 class='textKait '>
        เข้าสู่ หลับดีรีสอร์ท
      </h3>
      <label class="textKait p-3">
        เข้าสู่ระบบเพื่อจอง รีสอร์ทได้ง่ายขึ้น และสามารถ ถามพนักงานได้ง่ายขึ้น
      </label>
      <div class="md-form" style='position: relative; top:25px'>
        <h3 class="textKait" >
            <i class="fas fa-phone"></i> 099-9999999
        </h3>
      </div>
     
     
    </div>
    <div class="col-12 col-md-6 marginC">
      <router-outlet></router-outlet>

    </div>

  </div>

</div>
