<!-- <div class="show_bk" *ngIf="show_detail">

  <div class="show_in_detail col-12 col-md-8">
    <span class='spanCLose' (click)="show_detail = false">
      <i class="fas fa-times"></i>
    </span>
    <div class="col-12 text-center">
      <h4 class='textKait p-3'> รายละเอียดการจองห้องพักของคุณ </h4>


      <div class="row text-left">
        <div class="col-12 col-md-4">
          <label for="checkin">Check In : </label>
          <span class="textKait p-3"> {{ bookingRealVari.check_in | date:'EEE , dd/MM/yyyy' }} </span>
        </div>
        <div class="col-12 col-md-4">

          <label for="checkin">Check Out : </label>
          <span class="textKait p-3"> {{ bookingRealVari.check_out | date:'EEE , dd/MM/yyyy' }} </span>
        </div>
        <div class="col-md-4 col-12">
          <label for="price">ราคาทั้งหมด : </label>
          <span class="textKait p-3"> {{ bookingRealVari.total_price | currency:'฿ ':'symbol':'0.2-2' }} </span>

        </div>
      </div>

      <div class="col-12 text-center">
        <h5 class="text-left textKait"> รายละเอียด ลูกค้า </h5>
        <div class="p-3">
          <div class="md-form text-left ">
            <label for="name"> ชื่อ : </label>
            <span class='textKait  p-3'> {{ bookingRealVari.user_booking.displayname }}</span>
          </div>
          <div class="md-form text-left ">
            <label for="email"> Email : </label>
            <span class='textKait  p-3'> {{ bookingRealVari.user_booking.email }}</span>
          </div>
          <div class="md-form text-left ">
            <label for="phone"> เบอร์โทร : </label>
            <span class='textKait  p-3'> {{ bookingRealVari.user_booking.phone }}</span>
          </div>
        </div>
      </div>


      <div class="col-12 text-center p-3">
        <h5 class="text-left textKait"> รายละเอียด ห้องที่จอง </h5>
        <div class="overscoll row">
          <div class="col-12 col-md-4" *ngFor='let room of bookingRealVari.room '>
            <div class="md-form text-left ">
              <label for="name"> ชื่อ : </label>
              <span class='textKait  p-3'> {{ room.name }}</span>
            </div>
            <div class="md-form text-left ">
              <label for="email"> หมายเลข : </label>
              <span class='textKait  p-3'> {{ room.number }}</span>
            </div>
            <div class="md-form text-left ">
              <label for="phone"> ราคาห้อง : </label>
              <span class='textKait  p-3'> {{ room.priceRoom | currency:'฿ ':'symbol':'0.2-2' }}</span>
            </div>
          </div>
        </div>
      </div>



    </div>





  </div>
</div> -->
<div class="show_bk" *ngIf='show_detail_all_bk'>
  <div class="show-detail-all-bk">
    <div class="show-detail-all col-12 col-md-8">
      <span class="closeList">
        <i (click)="show_detail_all_bk = false ; " class="fas fa-times"></i>
      </span>
      <h3 class="textKait text-center text-primary p-3">
        Detail Booking
      </h3>
      <div class="col-12">
        <h5 class="textKait">
          วันที่จอง : {{booking_select.create_at | date:'EEEE , dd-MM-yyyy h:mm:ss a'}}
        </h5>
        <h5 class="textKait">
          สถานะ : {{ status_booking(booking_select.status_enroll )}}
        </h5>
      </div>
      <div class="row">
        <div class="user_detail col-12 col-md-6 p-3">
          <h4 class='textKait'> ข้อมูล คนจอง </h4>
          <div class="p-3 data_scroll">
            <h5 class='textKait'> ชื่อ: </h5>
            <p class="textKait p-2"> {{ booking_select.user_booking.displayname }} </p>
            <h5 class='textKait'> email: </h5>
            <p class="textKait p-2">{{ booking_select.user_booking.email }}</p>
            <h5 class='textKait'> เบอร์โทร: </h5>
            <p class="textKait p-2">{{ booking_select.user_booking.phone }}</p>

          </div>

        </div>
        <div class="user_detail col-12 col-md-6 p-3">
          <h4 class='textKait'> รายการห้อง </h4>
          <div class="p-3 data_scroll">
            <div *ngFor="let room of booking_select.room ; let i = index">
              <h3 class='textKait text-primary text-right'> ลำดับที่ {{ i+1 }} </h3>
              <h5 class='textKait'> หมายเลขห้อง: </h5>
              <p class="textKait p-2"> {{ room.number }} </p>
              <h5 class='textKait'> เตียงคู่/เดียว: </h5>
              <p class="textKait p-2">{{ room.type }}</p>
              <h5 class='textKait'> ราคา: </h5>
              <p class="textKait p-2">{{ room.priceRoom | currency:'฿ ':'symbol':'0.2-2' }}</p>

              <hr>
            </div>
          </div>

        </div>
      </div>
      <div class="show_night_pricetotal p-3">
        <div class="row">
          <div class="col-12 col-md-6">
            <h5 class="textKait">
              วันที่เช็คอิน :
            </h5>
            <p class='textKait p-2'>
              {{ booking_select.check_in | date:'EEE dd-MM-yyyy' }}
            </p>
          </div>
          <div class="col-12 col-md-6">
            <h5 class="textKait">
              วันที่เช็คเอ้า :
            </h5>
            <p class='textKait p-2'>
              {{booking_select.check_out | date:'EEE dd-MM-yyyy'}}
            </p>
          </div>
        </div>
        <div class="col-12 p-3 btn-primary text-center">
          <h3 class="textKait"> {{ booking_select.total_price | currency:'฿ ':'symbol':'0.2-2' }} </h3>
        </div>
      </div>
    </div>
  </div>
</div>
