.topForm{
    position: relative;
    top:0px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px
}
@media only screen and (max-width: 600px) {
    .topForm{
        box-shadow: 0 0 20px 1px rgba(0,0,0,0);

    }

}