/* body{
    position: absolute;
} */

.viewDetail i {
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer
}

.viewDetail i:hover {
  color: rgba(0, 0, 0, 1)
}


a.close-show-detail-all i{
  position: absolute;
  color:rgba(255, 0, 0, 0.5);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
 
}
a.close-show-detail-all i:hover{
  color:rgb(255, 0, 0);

}