<div class="load-div" [hidden]="loadingShow">
  <div class="load">
  </div>
  <p class="loader textKait"> load... </p>
</div>

<div class="container">
  <div class="col-12 col-md-10 marginC p-3" style='margin-top:10px;'>
    <div class="col-12  marginC">
      <table class="table">
        <thead>
          <tr style='text-align: center'>
            <th class='textKait' scope="col">Show</th>

            <th class='textKait' scope="col">ชื่อ</th>
            <th class='textKait' scope="col">จำนวนคืน</th>
            <th class='textKait' scope="col">จำนวนห้อง</th>
            <th class='textKait' scope="col">จำนวนเงิน</th>
            <th class='textKait' scope="col">วันที่จอง</th>

            <th class='textKait' scope="col">ลบ</th>

          </tr>
        </thead>
        <tbody>
          <tr style="text-align: center" *ngFor="let book of bookList ; let i = index">
            <th scope="row" class='viewDetail'>
              <i (click)="show_detail(book)"class="far fa-eye"></i>
            </th>
            <td class='textKait'>{{ book.user_booking.displayname }}</td>
            <td class='textKait'>{{book.night_num}}</td>
            <td class='textKait'>{{ book.room.length }}</td>
            <td class='textKait'> {{ book.total_price  | currency:'฿ ':'symbol':'0.2-2' }} </td>
            <td class="textKait"> {{ setDateFormate(book.create_at) }} </td>
            <td class="textKait" class='closeList'>
              <i (click)='deleteBookingList(book , i)' class="fas fa-times"></i>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">

        <li class="page-item" *ngFor='let p of page;'>
          <a class="page-link" (click)="pageChange(p)">{{p}}</a>
        </li>


      </ul>
    </nav>
  </div>
  <div *ngIf='!bookList.length' class="empty_array">
    <h1 class='text-center textKait' > ไม่มีข้อมูล </h1>
  </div>
</div>
<app-detail-booking-list-user></app-detail-booking-list-user>