#marginC:hover{
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);

}
#marginC{
    padding: 10px ;
    box-shadow: 0 0 10px 0.1px rgba(0,0,0,0.1);
    height: 450px;
}
.topFrom{
    position: relative;
    top:0px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.1);
    padding: 30px;
    border-radius: 10px
}