.conponents{
    position: fixed;
    width: 25%;
    bottom: 10px ;
    right: 10px;
    z-index: 3000;
}
.msg_hander {
    padding: 10px;
    border-bottom: .5px solid rgba(0,0,0,0.2)
}
.bottom_msg {
    padding: 10px;
}
.bottom_msg p{
    margin: 0 ;
}
.spanErr{
    position: fixed;
    right: 25px;
    cursor: pointer;
    
}
@media only screen and (max-width: 600px){
    .conponents{
        width: 100%;
        right: 0;
    }
}