<nav class="navbar navbar-expand-lg navbar-light  " id="navBar_box">
  <div class='container'>
    <a class="navbar-brand Skranji text-primary" href="#">Lub-D Resort</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">


      </ul>
      <div class="navbar-text">
        <ul class='navbar-nav'>
          <li class="nav-item ">
            <a class="nav-link" routerLink='/core/home' routerLinkActive="active">หน้าหลัก </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" routerLink='/core/booking' routerLinkActive="active">จองรีสอร์ท </a>
          </li>
          <li class="nav-item" *ngIf="!_user.isLogin()">
            <a routerLink="/core/signin" routerLinkActive="active" class="nav-link">Login</a>
          </li>
          <li class="nav-item" *ngIf="!_user.isLogin()">
            <a routerLink="/core/signup" routerLinkActive="active" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item dropdown" *ngIf='_user.isLogin()'>
            <a class="nav-link dropdown-toggle" style='cursor: pointer;' id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ _user.getSession().displayname }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" routerLink='/{{_user.getSession().roles}}/home'>Home To {{ _user.getSession().roles }}</a>
              <a class="dropdown-item" routerLink='/{{_user.getSession().roles}}/setting'>Setting</a>
              <a class="dropdown-item" (click)="_user.Logout()">Logout</a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
