.headerforAdmin{
    padding: 10px;
    border-right: 5px solid rgba(0,0,0,0.2);
    height: 100%;
    position: fixed;
    top:0;
    z-index:100;
    background: white;
}
.content_admin{
    width:70%;
    background: RED;
    margin:auto
}
label.close{
    padding: 10px;
    color:red;
    width:32px;
    height: 32px;
}