.box_rooms {
  padding: 20px;
  overflow: scroll;

  height: 300px;
  text-align: center;
  width: 100%;
}

.center_room {
  padding: 10px;
  cursor: pointer;
  color: rgb(0, 0, 0)
}

.center_room:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
