<div class="load-div" [hidden]="loadingShow">
  <div class="load">
  </div>
  <p class="loader textKait"> load... </p>
</div>

<div class="container p-3">
  <div class="col-12">
    <h5 class='text-primary p-2'>จองรีสอร์ท</h5>
    <form #bookingForm='ngForm'>
      <div *ngIf='show_new_user_input' class="new_user_come_reserve">
        <div class="sub_new_user_come_reserve col-12 col-md-6">
          <span (click)="show_new_user_input = false;" class='cancel_times'>
            <i class="fa fa-times"></i>
          </span>
          <div class="md-from">
            <h5 class="textKait text-center">ตรวจสอบรายชื่อ</h5>
          </div>
          <div class="md-form">
            <label for="firstname"> ชื่อ : </label>
            <input type="text" [(ngModel)]='booking_now.user_booking.firstname' placeholder="firstname...." name='firstname' class="form-control">
          </div>
          <div class="md-form">
            <label for="lastname"> นามสกุล : </label>

            <input type="text" [(ngModel)]='booking_now.user_booking.lastname' placeholder="lastname..." name='lastname' class="form-control">
          </div>
          <div class="md-form">
            <label for="phone"> เบอร์โทร : </label>

            <input type="text" [(ngModel)]='booking_now.user_booking.phone' placeholder="phone..." name='phone' class="form-control">
          </div>
          <div class="md-form">
            <label for="email"> email : </label>

            <input type="text" [(ngModel)]='booking_now.user_booking.email' placeholder="email..." name='email' class="form-control">
          </div>
          <div class="md-form">
            <button type='button' (click)="ok_user_input()" class="btn btn-block btn-primary"> ตกลง </button>
          </div>
        </div>
      </div>
      <div class="md-form p-2">

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="check_in" (ngModelChange)="cal_num_night($event,'date_in')"
              ngbDatepicker #d="ngbDatepicker" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>


      </div>

      <div class="md-form p-2">

        <div class="form-group">
          <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd" name="d2" [(ngModel)]="check_out" (ngModelChange)="cal_num_night($event,'date_out')"
              ngbDatepicker #d2="ngbDatepicker" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button">
                <i class="far fa-calendar-alt"></i>
              </button>
            </div>
          </div>
        </div>


      </div>

      <div class="md-form">
        <button class="btn btn-block" type='button' *ngIf='!show_button_submit' (click)='show_new_user_input = true;'>
          สำรองห้องพัก
        </button>

        <button class="btn btn-block btn-primary" *ngIf='show_button_submit' type='button' (click)="show_detail_is_price = true"
          [disabled]="!bookingForm.form.valid">
          สำรองห้องพัก
        </button>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-12 p-2">

      <div class="content-room">
        <h5 class="text-center p-3 textKait">
          ห้องห้องเรา
        </h5>


        <app-for-room-show></app-for-room-show>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-12 col-md 6">
      <h5 class='p-2 text-primary'> คำนวนรายการ </h5>
      <div class="cal_total_price p-2">
        <p> จำนวนห้อง : {{ cal_price_num.num_room }} </p>
        <p>
          ราคาห้องรวมทั่งหมด : {{ cal_price_num.total_price_room }}
        </p>
        <p> จำนวนคืนที่เข้าพัก : {{ cal_price_num.night_num }} </p>
        <div class="div_total text-right ">
          <p [ngStyle]='{
            "color" : style_total_price_all.color ,
            "font-size" : style_total_price_all.font_size
          }'>
            <strong> รวมเป็นเงิน : {{cal_price_num.price_total | currency:'฿ ':'symbol':'0.2-2' }} </strong>
          </p>
        </div>
      </div>
    </div>


  </div>
</div>


<div *ngIf="show_detail_is_price" class="booking_enroll_success">
  <div class="row booking_enroll_success_time">

    <div class="col-12 col-md 6">
      <h3 class='p-2 text-primary text-center textKait'> ตรวจสอบข้อมูล </h3>
      <div class="cal_total_price p-2">
        <p> จำนวนห้อง : {{ cal_price_num.num_room }} </p>
        <p>
          ราคาห้องรวมทั่งหมด : {{ cal_price_num.total_price_room }}
        </p>
        <p> จำนวนคืนที่เข้าพัก : {{ cal_price_num.night_num }} </p>
        <div class="div_total text-right ">
          <p [ngStyle]='{
            "color" : style_total_price_all.color ,
            "font-size" : style_total_price_all.font_size
          }'>
            <strong> รวมเป็นเงิน : {{cal_price_num.price_total | currency:'฿ ':'symbol':'0.2-2' }} </strong>
          </p>
        </div>
      </div>
      <div class="md-form p-3">
        <div class="row">
          <div class="col-8">
            <button (click)="bookingFunction()" class='btn btn-block textKait'> ยืนยันการจอง </button>
          </div>
          <div class="col-4">
            <button (click)="bookingFunction()" class='btn btn-block textKait' (click)="show_detail_is_price = false"> แก้ไข </button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>